<div class="row">
  <div class="col-md-4">
    <div class="text-left p-2">
      <p class="dates py-2">Contract: Feb 2020 - now</p>
      <p class="tags shadow bg-white rounded p-3"><span class="badge badge-info">Azure</span><span class="badge badge-info">Azure Devops</span><span class="badge badge-info">Docker</span><span class="badge badge-info">Kubernetes</span><span class="badge badge-info">CI/CD</span><span class="badge badge-info">Azure Pipelines</span><span class="badge badge-info">Azure Monitoring</span><span class="badge badge-info">Azure Security Monitoring</span><span class="badge badge-info">SEM</span><span class="badge badge-info">CISO</span><span class="badge badge-info">Aqua Security</span><span class="badge badge-info">Microservices</span><span class="badge badge-info">Azure Service Bus</span></p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="text-left">
      <h4 class="h4 py-3 text-left ing">Site Reliability Engineer. XLinQ / ING &nbsp;</h4>
      <h5 class="h5 py-2">Infrastructure development and CI/CD processes automation</h5>
      <ul class="py-2 pr-3">
        <li>Azure cloud infrastructure design and automation with shell scripts, terraform and azure devops</li>
        <li>infrastructure, application and security monitoring design and implementation (<a href="https://azure.microsoft.com/en-us/services/monitor/?&amp;ef_id=CjwKCAjw57b3BRBlEiwA1ImytiMistPUwWY8VGItJHBds5DbpUOM3ZmLng1qEhcX3JDzrgXd7CHZ2RoCHEYQAvD_BwE:G:s&amp;OCID=AID2000098_SEM_CjwKCAjw57b3BRBlEiwA1ImytiMistPUwWY8VGItJHBds5DbpUOM3ZmLng1qEhcX3JDzrgXd7CHZ2RoCHEYQAvD_BwE:G:s&amp;dclid=CJONgYLbkOoCFdf5dwodh_EJKw">Azure Monitoring,&nbsp;</a><a href="https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/get-started-portal">Azure Log Analytics,&nbsp;</a><a href="https://azure.microsoft.com/en-in/services/azure-sentinel/">Azure Sentinel</a>)</li>
        <li>SEM and CISO implementation</li>
        <Li>microservices design and full implementation (build, deploy and release with azure pipeline to AKS)</Li>
        <li>CI/CD process design and optimization</li>
      </ul>
    </div>
  </div>
</div>