.row
    .col-md-4
        .text-left.p-2
            p.dates.py-2 Contract: Feb 2020 - now
            p.tags.shadow.bg-white.rounded.p-3
                span.badge.badge-info Azure
                span.badge.badge-info Azure Devops
                span.badge.badge-info Docker
                span.badge.badge-info Kubernetes
                span.badge.badge-info CI/CD
                span.badge.badge-info Azure Pipelines
                span.badge.badge-info Azure Monitoring
                span.badge.badge-info Azure Security Monitoring
                span.badge.badge-info SEM
                span.badge.badge-info CISO
                span.badge.badge-info Aqua Security
                span.badge.badge-info Microservices
                span.badge.badge-info Azure Service Bus
    .col-md-8
        .text-left
            h4.h4.py-3.text-left.ing Site Reliability Engineer. XLinQ / ING &nbsp;
            h5.h5.py-2 Infrastructure development and CI/CD processes automation
            ul.py-2.pr-3
                li Azure cloud infrastructure design and automation with shell scripts, terraform and azure devops
                li infrastructure, application and security monitoring design and implementation (
                    a(href='https://azure.microsoft.com/en-us/services/monitor/?&ef_id=CjwKCAjw57b3BRBlEiwA1ImytiMistPUwWY8VGItJHBds5DbpUOM3ZmLng1qEhcX3JDzrgXd7CHZ2RoCHEYQAvD_BwE:G:s&OCID=AID2000098_SEM_CjwKCAjw57b3BRBlEiwA1ImytiMistPUwWY8VGItJHBds5DbpUOM3ZmLng1qEhcX3JDzrgXd7CHZ2RoCHEYQAvD_BwE:G:s&dclid=CJONgYLbkOoCFdf5dwodh_EJKw') Azure Monitoring,&nbsp;
                    a(href='https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/get-started-portal') Azure Log Analytics,&nbsp;
                    a(href='https://azure.microsoft.com/en-in/services/azure-sentinel/') Azure Sentinel
                    |)
                li SEM and CISO implementation
                Li microservices design and full implementation (build, deploy and release with azure pipeline to AKS)
                li CI/CD process design and optimization
