<div class="row">
  <div class="col-md-8 offset-md-4 justify-content-end">
    <h4 class="h4 py-3 text-left">Lohika</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="text-left p-2">
      <p class="dates py-2">Contract: Apr 2007 - Apr. 2012</p>
      <p class="tags shadow bg-white rounded p-3"><span class="badge badge-info">Private Cloud</span><span class="badge badge-info">VMware</span><span class="badge badge-info">Monitoring</span><span class="badge badge-info">Change Management</span><span class="badge badge-info">Assets Management</span><span class="badge badge-info">Resources Planing</span></p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="text-left">
      <h5 class="h5 py-2">Site IT manager / Ops Lead</h5>
      <p>
        Entire site operation, IT infrastructure and team management, site IT budget planning.&nbsp;Communication with software and hardware vendors and resellers.&nbsp;
        Communication with local service-providers.
      </p>
      <p>Resources planning for Company Private Cloud.</p>
      <p><strong>On that position:</strong></p>
      <ul class="py-2 pr-3">
        <li>Prepared budget for Private Cloud (for local datacenter). Dealing directly with software and hardware resellers to get best term and prices.</li>
        <li>Design and deployment of Private Cloud on external datacenter.</li>
        <li>Implemented new workflow to delivery resources to DEV and QA, which allows us to more flexible planning and managing resources.</li>
        <li>Designed and implemented IT infrastructure for two new office-spaces in Odessa. (Telephony, networking, conference-rooms, etc.)</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="text-left p-2">
      <p class="dates py-2">Contract: Aug 2005 - Apr. 2007</p>
      <p class="tags shadow bg-white rounded p-3"><span class="badge badge-info">Oracle</span><span class="badge badge-info">RHEL</span><span class="badge badge-info">SLES</span><span class="badge badge-info">Solaris</span><span class="badge badge-info">VMware</span><span class="badge badge-info">Private Cloud</span><span class="badge badge-info">Windows Server</span><span class="badge badge-info">HP</span><span class="badge badge-info">SAN</span><span class="badge badge-info">Automation</span><span class="badge badge-info">IBM</span><span class="badge badge-info">EMC</span></p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="text-left">
      <h5 class="h5">Senior IT / DevOps</h5>
      <p>Operational support for large QA/Dev Lab</p>
      <p>Support of different application environments with separated or shared DB (Oracle, MySQL, SQL)</p>
      <p>Linux Administrator, Oracle DBA</p>
      <ul class="py-2 pr-3">
        <li>Private Cloud management</li>
        <li>multiple application setup and management (testing and certification)</li>
        <li>Oracle RDBMS Administrator</li>
      </ul>
    </div>
  </div>
</div>