<div class="row">
  <div class="col-md-4">
    <div class="text-left p-2">
      <p class="dates py-2">Contract: Oct 2016 - Apr 2017</p>
      <p class="tags shadow bg-white rounded p-3"><span class="badge badge-info">Google Cloud</span><span class="badge badge-info">AWS</span><span class="badge badge-info">Ansible</span><span class="badge badge-info">Puppet</span><span class="badge badge-info">Terraform</span><span class="badge badge-info">Jira</span><span class="badge badge-info">Confluence</span><span class="badge badge-info">Bamboo</span><span class="badge badge-info">MySQL</span><span class="badge badge-info">Automation</span><span class="badge badge-info">MPI Clusters</span><span class="badge badge-info">MacOS Build Pool</span></p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="text-left">
      <h4 class="h4 py-3 text-left">DevOps Architect. Appko for Nest</h4>
      <h5 class="h5 py-2">Dev Infrastructure migration from AWS to Google Cloud.</h5>
      <ul class="py-2 pr-3">
        <li>Infrastructure design for Development services in Google Cloud Platform (Atlassian stack and build infrastructure)</li>
        <li>Automate infrastructure provisioning and configuration.</li>
        <li>Migration from AWS to Google Cloud: move dev-infrastructure services and MacOS build agents pool.</li>
      </ul>
    </div>
  </div>
</div>