<div class="row">
  <div class="col-md-4">
    <div class="text-left p-2">
      <p class="dates py-2">Contract: May 2017 - June 2018</p>
      <p class="tags shadow bg-white rounded p-3"><span class="badge badge-info">Jenkins</span><span class="badge badge-info">Groovy</span><span class="badge badge-info">Docker</span><span class="badge badge-info">Ansible</span><span class="badge badge-info">AWS</span><span class="badge badge-info">Ruby</span><span class="badge badge-info">Backup</span><span class="badge badge-info">Oracle</span><span class="badge badge-info">MySQL</span><span class="badge badge-info">RDS</span><span class="badge badge-info">Automation</span></p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="text-left">
      <h4 class="h4 py-3 text-left">Senior DevOps. Provectus for Determine</h4>
      <h5 class="h5 py-2">Infrastructure and processes automation for PaS in AWS.</h5>
      <ul class="py-2 pr-3">
        <li>Completely redesigned, automated and implemented backup processes for PaS (Java + Oracle and LAMP) on AWS</li>
        <li>Development of infrastructure inventory microservices (ruby, ruby-on-rails).</li>
        <li>Infrastructure processes automation with Jenkins and Ansible Tower (AWX)</li>
      </ul>
    </div>
  </div>
</div>