.row
    .col-md-4
        .text-left.p-2
            p.dates.py-2 Apr 2003 - Aug 2005
            p.tags.shadow.bg-white.rounded.p-3
                span.badge.badge-info C/C++
                span.badge.badge-info PHP
                span.badge.badge-info Perl
                span.badge.badge-info MySQL
                span.badge.badge-info PostgreSQL
                span.badge.badge-info Linux
                span.badge.badge-info PBX
                span.badge.badge-info Telecom
    .col-md-8
        .text-left
            h4.h4.py-3.text-left Software Engineer / DBA. TWT Ukraine - telecom
            h5.h5.py-2 Development and support for telecom billing.
            ul.py-2.pr-3
                li Calls billing: Development, support and optimisation.
                li MySQL / PostgreSQL DBA
                li Linux / FreeBSD administrator
