<div class="row">
  <div class="col-md-4">
    <div class="text-left p-2">
      <p class="dates py-2">Apr 2003 - Aug 2005</p>
      <p class="tags shadow bg-white rounded p-3"><span class="badge badge-info">C/C++</span><span class="badge badge-info">PHP</span><span class="badge badge-info">Perl</span><span class="badge badge-info">MySQL</span><span class="badge badge-info">PostgreSQL</span><span class="badge badge-info">Linux</span><span class="badge badge-info">PBX</span><span class="badge badge-info">Telecom</span></p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="text-left">
      <h4 class="h4 py-3 text-left">Software Engineer / DBA. TWT Ukraine - telecom</h4>
      <h5 class="h5 py-2">Development and support for telecom billing.</h5>
      <ul class="py-2 pr-3">
        <li>Calls billing: Development, support and optimisation.</li>
        <li>MySQL / PostgreSQL DBA</li>
        <li>Linux / FreeBSD administrator</li>
      </ul>
    </div>
  </div>
</div>