.container
    h3.h3.text-center.my-3 Design, build, automate infrastructure and CI/CD processes
    .row
        .col-3.col-sm-3.col-md-3.skills
            h5.h5.text-muted.my-2 Clouds
            p.text-justify
                span.success AWS
                span.success Azure
                span.success Google CLoud
                span.success Digital Ocean
                span.success Linode
            h5.h5.text-muted.my-2 Infrastructure as code
            p.text-justify
                span.success Terraform
                span.success Ansible
                span.success Puppet
                span.success Shell Scripting
                span.success git
            h5.h5.text-muted.my-2 CI/CD automation
            p.text-justify
                span.success Jenkins
                span.success Docker
                span.success Kubernetes
                span.success Azure Devops
                span.success Teamcity
                span.success Octopus Deploy
                span.success Ansible Tower
            h5.h5.text-muted.my-2 Databases
            p.text-justify
                span.success Oracle
                span.success PostgreSQL
                span.success MySQL
                span.success MySQL
            h5.h5.text-muted.my-2 Event Processing
            p.text-justify
                span.success Kafka
                span.success RabbitMQ
                span.success Redis
            h5.h5.text-muted.my-2 Programming
            p.text-justify
                span.success Ruby
                span.success Ruby On Rails
                span.success PHP
                span.success NodeJs JavaScript
                span.success bash

        .col-9.col-sm-9.col-md-9.px-5
            h5.h5.text-left.my-2 DevOps Engineer with 12+ years of experience in managing cloud infrastructure, ci/cd processes and automation.
            ul.m-3
                li Designing and implementing infrastructure as code for AWS, Azure, GoogleCloud, DigitalOcean and other.
                li Designing, implementing and automating CI/CD processes and application infrastructure.
                li Design and support application migration from VM-based infrastructure to dokerized micro-services in Kubernetes.
                li Design and automate full application lifecycle CI/CD processes for docker and Kubernetes.
                li Bringing operation requirements to software engineering and provide maximum scalability
                    | and availability for applications and services.

            h5.h5.text-left.my-2 Building and optimizing applications infrastructure in cloud
            p.my-2.text-justify Describe OS, software, network, computer resources configuration and create
                | Infrastructure and Configuration As Code with Terraform, Ansible, Puppet, and other
                | tools on different clouds: AWS, Azure, GoogleCloud, DigitalOcean, etc.
            ul.m-3
                li Optimizing infrastructure and application for high load.
                li Implement infrastructure as code and change management.
                li Design and implement application, infrastructure and security monitoring.
                li Implement notification policies and define escalation rules.
                li Create backup and disaster recovery process. Implement data archiving.

            h5.h5.text-left.my-2 Implementing CI/CD processes for dockerized apps and Kubernetes
            p.my-2 Create Jenkins, Azure DevOps, Teamcity pipelines to implement
            ul.my-3
                li Build application with docker. Move build configuration to the Dockerfile.
                li Publish and promote docker image to container registry
                li Deploy docker container to Kubernetes with helm and run integrational tests
                li Run integration, acceptance or distributed performance testing
                li Deploy application to development environment and trigger release pipelines

            h5.h5.text-left.my-2 Machine Learning workflows automation and CI/CD
            ul.my-3
                li Build application with docker. Move build configuration to the Dockerfile.
                li Creating automation for models train and test accuracy
                li Publish models as docker artifact
                li Run prediction apllications in Kubernetes
                li Automate models releasing process with Airflow and Jenkins

            h5.h5.text-left.my-2 Development Infrastructure Setup
            ul.my-3
                li Collaboration tools
                li Build / deploy tools
                li Dynamic resources allocation for non-production environments
                li Tasks / tickets tracking
