.row.p-2
    .col-7.text-right
        h4.h4 Computer and Network Systems
        h5.h5
            i.fas.fa-university
            | &nbsp; Odesa State Polytechnic University
        p.lead Specialist
    .col-5
        p.dates.lead Odesa, Ukraine. 1998 - 2003.
.row.p-2
    .col-7.text-right
        h4.h4 M102. MongoDB for DBA
        h5.h5 MongoDB University
    .col-5
        p.dates.lead
            | 2016. <br />
            a(href='https://university.mongodb.com/course_completion/94d4710b85484f988a7274823b1db417/printable') Online certificate.&nbsp;

.row.p-2
    .col-7.text-right
        h4.h4 VMware vSphere 4.0 – Deploy, Configure, Manage
        h5.h5 HP Education center
    .col-5
        p.dates.lead Kyiv, Ukraine. 2011.
.row.p-2
    .col-7.text-right
        h4.h4 Oracle 10G Administrator
        h5.h5 Kvazar Micro Education center
    .col-5
        p.dates.lead Kyiv, Ukraine. 2006.
