.row
    .col-12.col-sm-9.p-3
        h2.h2.mt-3.text-right Andrii Aheiev
        h3.h3.my-3.text-right.text-muted DevOps, Cloud Architect
        ul.nav.text-right.mt-5.justify-content-end
            li.nav-item.px-2
                a(href='assets/files/Andrii_Aheiev-DevOps-2020.pdf')
                    i.far.fa-file-pdf
                    | &nbsp;Resume
            li.nav-item.px-2
                a(href='callto:a.ageiev')
                    i.fab.fa-skype
                    | &nbsp;Skype
            li.nav-item.px-2
                a(href='mailto:a.ageyev@gmail.com')
                    i.far.fa-envelope
                    | &nbsp;Gmail
            li.nav-item.px-2
                a(href='https://www.linkedin.com/in/aaheiev')
                    i.fab.fa-linkedin
                    | &nbsp;LinkedIn
            li.nav-item.px-2
                a(href='https://github.com/aaheiev')
                    i.fab.fa-github
                    | &nbsp;GitHub
    .col-12.col-sm-3.p-3.text-center
        img.img-thumbnail(src="/assets/img/Andrii.Ageiev.png" alt="Andrii Aheiev")
