.row
    .col-md-4
        .text-left.p-2
            p.dates.py-2 Contract: June 2018 - Dec. 2020
            p.tags.shadow.bg-white.rounded.p-3
                span.badge.badge-info Docker
                span.badge.badge-info Kubernetes
                span.badge.badge-info helm
                span.badge.badge-info Jenkins
                span.badge.badge-info Kafka
                span.badge.badge-info Kinesis
                span.badge.badge-info WhiteSource
                span.badge.badge-info CheckMarx
                span.badge.badge-info Ansible
                span.badge.badge-info Azure
                span.badge.badge-info AWS
                span.badge.badge-info Groovy
                span.badge.badge-info .Net
                span.badge.badge-info NodeJS
                span.badge.badge-info Ruby
                span.badge.badge-info Airflow
                span.badge.badge-info ML
                span.badge.badge-info H2O
                span.badge.badge-info MSSQL
                span.badge.badge-info Load / acceptance testing
                span.badge.badge-info Automation
    .col-md-8
        .text-left
            h4.h4.py-3.text-left Senior DevOps. PitneyBowes
            h5.h5.py-2 Application infrastructure development and CI/CD processes automation
            ul.py-2.pr-3
                li Jenkins CI/CD Pipelines: build, test, publish and deploy micro-services&nbsp;
                    | (NodeJS, .Net with Docker and Kubernetes)
                li Application infrastructure design and implementation with docker and Kubernetes (AKS, EKS)
                li Release preparation
                li Design and implementation Machine Learning CI/CD pipelines
                    | (train, test and deploy prediction application)
            p
                strong What was done:
            ul
                li.py-2 Dockerized complex .Net event-processing application and created set of micro-services
                    ol.py-2
                        li application requirements (health url, logging, resources, etc.)
                        li resources profiling: cpu/ram requests and limits with autoscaling rules
                        li local dev environment with docker-compose
                        li qa / stage / prod environment install in Kubernetes using helm
                        li automated integration and acceptance testing
                        li ci/cd automation: Jenkins, Teamcity, Octopus
                li.py-2 Application stack security scans (WhiteSource, CheckMarx)
                li.py-2 Cross-cloud (Azure - AWS) event's and analytics migration
                    ol.py-2
                        li Kafka monitoring
                        li Kafka to AWS Kinesis synchronisation
                li.py-2 ML prediction app pipelines - design and automation
                    ol.py-2
                        li airflow configuration and train/test workflow automation
                        li dynamic H2O cluster allocation in Kubernetes
                        li docker jetty container with H2O models
                        li deploy and performance testing for prediction API
