.row
    .col-md-4
        .text-left.p-2
            p.dates.py-2 Contract: May 2017 - June 2018
            p.tags.shadow.bg-white.rounded.p-3
                span.badge.badge-info Jenkins
                span.badge.badge-info Groovy
                span.badge.badge-info Docker
                span.badge.badge-info Ansible
                span.badge.badge-info AWS
                span.badge.badge-info Ruby
                span.badge.badge-info Backup
                span.badge.badge-info Oracle
                span.badge.badge-info MySQL
                span.badge.badge-info RDS
                span.badge.badge-info Automation
    .col-md-8
        .text-left
            h4.h4.py-3.text-left Senior DevOps. Provectus for Determine
            h5.h5.py-2 Infrastructure and processes automation for PaS in AWS.
            ul.py-2.pr-3
                li Completely redesigned, automated and implemented backup processes for PaS (Java + Oracle and LAMP) on AWS
                li Development of infrastructure inventory microservices (ruby, ruby-on-rails).
                li Infrastructure processes automation with Jenkins and Ansible Tower (AWX)
