<div class="row p-2">
  <div class="col-7 text-right">
    <h4 class="h4">Computer and Network Systems</h4>
    <h5 class="h5"><i class="fas fa-university"></i>&nbsp; Odesa State Polytechnic University</h5>
    <p class="lead">Specialist</p>
  </div>
  <div class="col-5">
    <p class="dates lead">Odesa, Ukraine. 1998 - 2003.</p>
  </div>
</div>
<div class="row p-2">
  <div class="col-7 text-right">
    <h4 class="h4">M102. MongoDB for DBA</h4>
    <h5 class="h5">MongoDB University</h5>
  </div>
  <div class="col-5">
    <p class="dates lead">2016. <br /><a href="https://university.mongodb.com/course_completion/94d4710b85484f988a7274823b1db417/printable">Online certificate.&nbsp;</a></p>
  </div>
</div>
<div class="row p-2">
  <div class="col-7 text-right">
    <h4 class="h4">VMware vSphere 4.0 – Deploy, Configure, Manage</h4>
    <h5 class="h5">HP Education center</h5>
  </div>
  <div class="col-5">
    <p class="dates lead">Kyiv, Ukraine. 2011.</p>
  </div>
</div>
<div class="row p-2">
  <div class="col-7 text-right">
    <h4 class="h4">Oracle 10G Administrator</h4>
    <h5 class="h5">Kvazar Micro Education center</h5>
  </div>
  <div class="col-5">
    <p class="dates lead">Kyiv, Ukraine. 2006.</p>
  </div>
</div>