<div class="container">
    <h3 class="h3 text-center my-2">Design, build, automate infrastructure and CI/CD processes</h3>
    <hr class="my-3 section-divider" />
    <br />
    <div class="row">
        <div class="col-4 col-md-4 col-lg-4 mx-auto py-2 skills">
            <h5 class="h5 text-center my-3">Expertize</h5>
            <h6 class="h6 py-2">Clouds and automation</h6>
            <p class="tags shadow bg-white rounded p-3">
                <span class="badge badge-secondary">AWS</span>
                <span class="badge badge-secondary">Azure</span>
                <span class="badge badge-secondary">Google CLoud</span>
                <span class="badge badge-secondary">Digital Ocean</span>
                <span class="badge badge-secondary">Linode</span>
                <span class="badge badge-secondary">Azure Devops</span>
                <span class="badge badge-secondary">Terraform</span>
                <span class="badge badge-secondary">Ansible</span>
                <span class="badge badge-secondary">Docker</span>
                <span class="badge badge-secondary">Kubernetes</span>
                <span class="badge badge-secondary">Puppet</span>
                <span class="badge badge-secondary">Jenkins</span>
                <span class="badge badge-secondary">Ansible Tower</span>
            </p>

            <h6 class="h6 py-2">Infrastructure</h6>
            <p class="tags shadow bg-white rounded p-3">
                <span class="badge badge-secondary">IaC</span>
                <span class="badge badge-secondary">Terraform</span>
                <span class="badge badge-secondary">Ansible</span>
                <span class="badge badge-secondary">Kubernetes</span>
                <span class="badge badge-secondary">Puppet</span>
                <span class="badge badge-secondary">Monitoring</span>
                <span class="badge badge-secondary">Security</span>
                <span class="badge badge-secondary">SEM</span>
                <span class="badge badge-secondary">CISO</span>
                <span class="badge badge-secondary">PCI DSS</span>
                <span class="badge badge-secondary">Shell Scripting</span>
                <span class="badge badge-secondary">Change Management</span>
            </p>

            <h6 class="h6 py-2">Dev and automation</h6>
            <p class="tags shadow bg-white rounded p-3">
                <span class="badge badge-secondary">CI/CD</span>
                <span class="badge badge-secondary">Docker</span>
                <span class="badge badge-secondary">Linux</span>
                <span class="badge badge-secondary">Shell Scripting</span>
                <span class="badge badge-secondary">Git</span>
                <span class="badge badge-secondary">Kafka</span>
                <span class="badge badge-secondary">RabbitMQ</span>
                <span class="badge badge-secondary">Inventory</span>
                <span class="badge badge-secondary">Jenkins</span>
                <span class="badge badge-secondary">Oracle</span>
                <span class="badge badge-secondary">PostgreSQL</span>
                <span class="badge badge-secondary">MySQL</span>
                <span class="badge badge-secondary">MSSQL</span>
                <span class="badge badge-secondary">MongoDB</span>
                <span class="badge badge-secondary">Redis</span>
                <span class="badge badge-secondary">Ruby</span>
                <span class="badge badge-secondary">Ruby On Rails</span>
                <span class="badge badge-secondary">PHP</span>
                <span class="badge badge-secondary">NodeJs/JavaScript</span>
                <span class="badge badge-secondary">.Net</span>
            </p>

        </div>
        <div class="col-8 col-md-8 col-lg-8 mx-auto py-2">
            <h5 class="h5 text-left my-2">
                DevOps Engineer with 12+ years of experience in managing cloud infrastructure, ci/cd processes and automation.
            </h5>
            <ul class="m-3">
                <li>Designing and implementing infrastructure as code for AWS, Azure, GoogleCloud, DigitalOcean and other.</li>
                <li>Designing, implementing and automating CI/CD processes and application infrastructure.</li>
                <li>Design and support application migration from VM-based infrastructure to dokerized micro-services in Kubernetes.</li>
                <li>Design and automate full application lifecycle CI/CD processes for docker and Kubernetes.</li>
                <li>
                    Bringing operation requirements to software engineering and provide maximum scalability
                    and availability for applications and services.
                </li>
            </ul>

            <h5 class="h5 text-left my-2">
                Building and optimizing applications infrastructure in cloud
            </h5>
            <p class="my-2 text-justify">
                Describe OS, software, network, computer resources configuration and create
                Infrastructure and Configuration As Code with Terraform, Ansible, Puppet, and other
                tools on different clouds: AWS, Azure, GoogleCloud, DigitalOcean, etc.
            </p>
            <ul class="m-3">
                <li>Optimizing infrastructure and application for high load.</li>
                <li>Implement infrastructure as code and change management.</li>
                <li>Design and implement application, infrastructure and security monitoring.</li>
                <li>Implement notification policies and define escalation rules.</li>
                <li>Create backup and disaster recovery process. Implement data archiving.</li>
            </ul>

            <h5 class="h5 text-left my-2">
                Implementing CI/CD processes for dockerized apps and Kubernetes
            </h5>
            <p class="my-2 text-justify">
                Create Jenkins, Azure DevOps, Teamcity pipelines to implement
            </p>
            <ul class="m-3">
                <li>Build application with docker. Move build configuration to the Dockerfile.</li>
                <li>Publish and promote docker image to container registry</li>
                <li>Deploy docker container to Kubernetes with helm and run integrational tests</li>
                <li>Run integration, acceptance or distributed performance testing</li>
                <li>Deploy application to development environment and trigger release pipelines</li>
            </ul>

            <h5 class="h5 text-left my-2">
                Machine Learning workflows automation and CI/CD
            </h5>
            <ul class="m-3">
                <li>Build application with docker. Move build configuration to the Dockerfile.</li>
                <li>Creating automation for models train and test accuracy</li>
                <li>Publish models as docker artifact</li>
                <li>Run prediction apllications in Kubernetes</li>
                <li>Automate models releasing process with Airflow and Jenkins</li>
            </ul>

        </div>
    </div>
</div>
